<link rel="stylesheet" href="/css/dashboard.css" >

<div class="body">
  <h1 class="mainTitle">מסך מנהל</h1>
  <h2>ניהול משתמשים:</h2>
  <div>
    <a class="button" href="/admin/add-user">+ הוסף משתמש</a>
    <input class="search" type="text" placeholder="חפש משתמש...">
  </div>
  <ul>
    <% users.forEach(user => { %>
      <li class="userBox">
        <a class="userName"><%= user.username %></a>
        <img class="next" src="/images/next.svg">
      </li>
    <% }); %>
  </ul>

  <h2>ניהול קורסים:</h2>
  <h3>קורסים</h3>
  <a class="button" href="/admin/add-course">+ הוסף קורס</a>
    <div class="dashBox">
      <% courses.forEach(cours => { %>
        <div class="dashItem">
          <a class="dashTitle"><%= cours.title %></a>
        </div>
      <% }); %>
    </div>
  <h3>לומדות</h3>
  <a class="button" href="/admin/add-lesson">+ הוסף שיעור</a>
    <div class="dashBox">
      <% lessons.forEach(lesson => { %>
        <div class="dashItem">
          <a class="dashTitle"><%= lesson.title %></a>
        </div>
      <% }); %>
    </div>
  <h3>שאלונים</h3>
  <a class="button" href="/admin/add-quiz">+ הוסף שאלון</a>
    <div class="dashBox">
      <% quizs.forEach(quiz => { %>
        <div class="dashItem">
          <a class="dashTitle"><%= quiz.quizText %></a>
        </div>
      <% }); %>
      </div>
</div>
