<link rel="stylesheet" href="css/home.css">

<h1>ברוך שובך!, <%= user.username %>!</h1>
<h2>Your Courses</h2>
<ul>
    <% user.courses.forEach(function(course) { %>
      <li><a href="/courses/<%= course.id %>"><%= course.title %></a></li>
    <% }); %>
  </ul>
<a href="/logout">Logout</a>
