<link rel="stylesheet" href="css/home.css">


<div class="body">
  <h2>הקורסים שלך</h2>
  <div class="Box">
      <% user.courses.forEach(function(course) { %>
        <div class="Item" onclick="window.location.href='/courses/<%= course.id %>'">
          <img class="Image" src="/images/stock1.jpeg">
          <a class="Title"><%= course.title %></a>
        </div>
      <% }); %>
  </div>
</div>
