<link rel="stylesheet" href="/css/index.css">
<div class="Box">
    <div>
        <h1 class="mainTitle">מערכת הלמידה <b>ההיברידית</b> של פדיקר</h1>
        <div class="buttonBox">
        <button class="button" onclick="window.location.href='/login'">כניסה</button>
        <button class="button" id="buy" onclick="window.open('https://pedicare.co.il', '_blank');">לרכישת קורסים</button>
    </div>
</div>
</div>
