<link rel="stylesheet" href="/css/index.css">
<div class="Box">
    <h1 class="mainTitle">Pedicare Learning System</h1>
    <div class="buttonBox">
    <button class="button" onclick="window.location.href='/login'">כניסה</button>
    <button class="button" id="buy" onclick="window.open('https://pedicare.co.il', '_blank');">לרכישת קורסים</button>
</div>
</div>
