<link rel="stylesheet" href="css/login.css">

<div class="Box">
  <div class="loginBox">
    <h1 class="mainTitle">התחברות למערכת</h1>
    <div class="line"></div>
    <p class="des">התחבר עם המשתמש הניתן לך על ידי המדריך</p>
    <% if (error_msg) { %><p><%= error_msg %></p><% } %>
    <% if (error) { %><p><%= error %></p><% } %>
    <form class="inputs" action="/login" method="POST">
      <input class="input" type="text" name="username" placeholder="שם משתמש" required>
      <input class="input" type="password" name="password" placeholder="סיסמא" required>
      <button class="submit" type="submit">Login</button>
    </form>
    <a href="/" class="forgot">שכחת סיסמא?</a>
  </div>
</div>
