body {
    --color-primary: #4296E3;
    --color-primary-dark: #3477b3;
    --color-error: #ca5858;
    --color-success: #45E973;
    --color-white: #fff;
    --color-grey-dark: #bebebe;
    --color-grey: #eceaea;
    --border-radius: 15px;
    --font-family: 'Open Sans', sans-serif;

    /* --------------- */

    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    font-family: "Assistant", sans-serif;
}

footer {
    background-color: var(--color-primary);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    color: white;
}