.body {
    padding: 20px;
    box-sizing: border-box;
    direction: rtl;
    height: calc(100vh - 133px);
}

.mainTitle {
    font-size: 42px;
    font-weight: 1000;
    margin: 0;
    color: rgb(0, 0, 0);
}

.Box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 400px;
}

.Item {
    height: 400px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid var(--color-grey);

    margin-left: 15px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.Title {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.Image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 70px;
}