body {

    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 33px);
    width: 100%;
}

.mainTitle {
    font-size: 42px;
    margin: 0;
    margin-top: 30px;
}

.loginBox {
    height: 500px;
    max-width: 422px;
}

.input {
    direction: rtl;
    width: 90%;
    height: 53px;
    background-color: #EBEBEB;
    border: 0;
    border-radius: 8px;
    margin-bottom: 35px;
    padding: 15px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 20px;
}

.submit {
    width: 90%;
    height: 50px;
    font-family: var(--font-family);
    border-radius: 8px;
    background-color: var(--color-primary);
    font-family: var(--font-family);
    border: 0;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.line {
    width: 15px;
    height: 3px;
    background-color: var(--color-primary);
    margin: auto;
}

.des {
    margin: 0;
    margin-bottom: 35px;
}

.submit:hover {
    cursor: pointer;
}

.forgot {
    direction: rtl;
    text-decoration: underline;
    color: rgb(0, 128, 255);
}