<h1>Add Course</h1>
<form action="/admin/add-course" method="POST">
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="description" placeholder="description" required>
    <select id="lessons" name="lessons" multiple>
      <% lessons.forEach(lesson => { %>
        <option value="<%= lesson._id %>"><%= lesson.title %></option>
      <% }) %>
    </select><br><br>
    <button type="submit">Add Course</button>
</form>